<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="blog-page blog-page-single">

    {% include header-main.html %}
    <h1 align="center" style="text-transform: uppercase; margin-top:50px; margin-bottom:30px">{{page.title}}</h1>

    <div style="background-color:#3399FF;color:white;foreground:bold;text-align:center;margin-left:50px;margin-right:50px;padding:20px">
    This website is being rapidly updated. Not finding what you're looking for? <a style="color:yellow" href="https://twitter.com/aceplugin">Let us know!</a>
    <br/>
    Interested in contributing to the code or the website?  <a style="color:yellow" href="https://github.com/adnathan/ace/blob/master/CONTRIBUTING.md">Please do!</a>
    </div>

    <div class="container">
    {{ content }}
    </div>

    <p style="margin-top:50px"></p>
    {% include footer.html %}
  </body>

</html>
