<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="blog-page blog-page-single">

    {% include header-main.html %}
    
    <table width="100%">
        <tr>
            <td style="vertical-align:top" nowrap>
                <div style="margin-top:18px;margin-left:18px;font-size:small">
            {% for my_page in site.pages %}
                {% if my_page.category == 'docs' %}
                    <p><b><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></b></p>
                    {% if my_page.section1 != '' %}
                        <p style="margin-left:12px"><a href="{{ my_page.url | prepend: site.baseurl }}#one">{{ my_page.section1 }}</a></p>
                    {% endif %}
                    {% if my_page.section2 != '' %}
                        <p style="margin-left:12px"><a href="{{ my_page.url | prepend: site.baseurl }}#two">{{ my_page.section2 }}</a></p>
                    {% endif %}
                    {% if my_page.section3 != '' %}
                        <p style="margin-left:12px"><a href="{{ my_page.url | prepend: site.baseurl }}#three">{{ my_page.section3 }}</a></p>
                    {% endif %}
                    {% if my_page.section4 != '' %}
                        <p style="margin-left:12px"><a href="{{ my_page.url | prepend: site.baseurl }}#four">{{ my_page.section4 }}</a></p>
                    {% endif %}
                    {% if my_page.section5 != '' %}
                        <p style="margin-left:12px"><a href="{{ my_page.url | prepend: site.baseurl }}#five">{{ my_page.section5 }}</a></p>
                    {% endif %}
                    {% if my_page.section6 != '' %}
                        <p style="margin-left:12px"><a href="{{ my_page.url | prepend: site.baseurl }}#six">{{ my_page.section6 }}</a></p>
                    {% endif %}
                    {% if my_page.section7 != '' %}
                        <p style="margin-left:12px"><a href="{{ my_page.url | prepend: site.baseurl }}#seven">{{ my_page.section7 }}</a></p>
                    {% endif %}
                {% endif %}
            {% endfor %}
                    <!-- Make sure this is last: -->
                    <p><b><a href="/docs/ref/">UI Framework Reference</a></b></p>
                    <p style="margin-left:12px"><a href="/docs/ref/#one">Layout Panels</a></p>
                    <p style="margin-left:12px"><a href="/docs/ref/#two">Controls</a></p>
                    <p style="margin-left:12px"><a href="/docs/ref/#three">Ace</a></p>
                    <p style="margin-left:12px"><a href="/docs/ref/#four">Platform Helpers</a></p>
                    <p style="margin-left:12px"><a href="/docs/ref/#five">NativeObject</a></p>

                    <p><b><a href="/docs/examples/">Examples</a></b></p>
                </ul>
            </td>
            <td style="vertical-align:top" width="100%">
    <h1 align="left" style="text-transform: uppercase; margin-top:50px; margin-bottom:30px; margin-left:50px">{{page.title}}</h1>

    <div style="background-color:#3399FF;color:white;foreground:bold;text-align:center;margin-left:50px;margin-right:50px;padding:20px">
    This website is being rapidly updated. Not finding what you're looking for? <a style="color:yellow" href="https://twitter.com/aceplugin">Let us know!</a>
    <br/>
    Interested in contributing to the code or the website?  <a style="color:yellow" href="https://github.com/adnathan/ace/blob/master/CONTRIBUTING.md">Please do!</a>
    </div>

    <div class="container" style="margin-left:50px">
    {{ content }}
    </div>

           </td>
        </tr>
    </table>
    
 
    <p style="margin-top:50px"></p>
    {% include footer.html %}
  </body>

</html>
